* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

body {
  background: #fafafa;
}

body button {
  cursor: pointer;
}

header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: white;
}

header .header {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header h1 {
  font-size: 16px;
  font-weight: 800;
}

header .header .dark-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .dark-mode .moon-dark {
  display: none;
}

header .header .dark-mode p {
  margin-left: 10px;
  font-weight: 600;
}

.input-area {
  width: 90%;
  margin: 20px auto 0;
}

.input-area .icon-container {
  position: relative;
}

.input-area .icon-container i {
  position: absolute;
  top: 22px;
  left: 35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #858585;
}

.input-area input {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  padding-left: 75px;
}

.input-area ::-webkit-input-placeholder {
  color: #b3b3b3;
}

.input-area :-ms-input-placeholder {
  color: #b3b3b3;
}

.input-area ::-ms-input-placeholder {
  color: #b3b3b3;
}

.input-area ::placeholder {
  color: #b3b3b3;
}

.input-area .suggestion-panel {
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  background: white;
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-area .suggestion-panel button {
  width: 100%;
  background: white;
  padding: 15px 0px 15px 75px;
  cursor: pointer;
  border: none;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
}

.input-area .suggestion-panel button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.input-area .suggestion-panel button:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-area .suggestion-panel button:hover {
  background: #cdd2d6;
}

.input-area .suggestion-panel hr {
  border: none;
  height: 1px;
  background: #cdd2d6;
}

.select-area {
  display: none;
  width: 90%;
  margin: 40px auto 0px;
}

.countries {
  width: 70%;
  margin: 30px auto;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countries country-card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.countries country-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.countries country-card span {
  font-weight: 300;
}

@media only screen and (min-width: 376px) {
  .countries {
    width: 90%;
  }
  .countries country-card {
    margin-bottom: 60px;
  }
}

.detail-screen {
  display: none;
}

.detail-screen detail-page .back-button {
  padding: 8px 28px;
  border: none;
  background: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #3b3b3b;
  font-weight: 300;
}

.detail-screen detail-page .back-button i {
  font-size: 14px;
  padding-right: 10px;
  color: #3b3b3b;
}

.detail-screen detail-page img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-screen detail-page .country-name {
  margin: 40px 0 10px;
  font-size: 20px;
}

.detail-screen detail-page span {
  font-weight: 300;
}

.detail-screen detail-page .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 15px 0 60px;
}

.detail-screen detail-page .buttons button {
  width: 90px;
  height: 25px;
  border: none;
  margin: 0px 5px 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  color: #3b3b3b;
  font-size: 12px;
}

@media only screen and (min-width: 376px) {
  .detail-screen detail-page img {
    width: 100%;
    height: 100%;
  }
  .detail-screen detail-page .country-name {
    margin-top: 0px;
  }
  .detail-screen detail-page .buttons {
    margin: 0px 0px 60px;
  }
}
/*# sourceMappingURL=style.css.map */